<!DOCTYPE html>
<html>
  <head>
    
  </head>

  <body>


  <% if signed_in? %>
    <div>Hola <%= current_user.name %> <%= link_to "Salir", logout_path, method: :delete %></div>
  <% end %>
  

    <%= yield %>
    <footer>
            @ 2018 <strong> Club Pulsar Racing Medellin,</strong> Todos los Derechos Reservados
    </footer>
  </body>
</html>
