<!DOCTYPE html>
<html>
  <head>
    
  </head>

  <body>


  
    <%= yield %>
    <footer>
            @ 2018 <strong> Club Pulsar Racing Medellin,</strong> Todos los Derechos Reservados
    </footer>
  </body>
</html>
